<!DOCTYPE html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> navbar }}

  <div class="row">
    <div class="col-8">
      <h1>Nodejs - Express - MongoDB</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi voluptates quia minima perferendis reprehenderit accusamus ducimus, porro enim mollitia recusandae magnam repudiandae non, dignissimos, similique dolores excepturi corrupti dolorum deleniti!</p>
    </div>
    <div class="col-4">
      <img src="assets/img/mongo-express.jpeg" alt="img" class="img-thumbnail">
    </div>
  </div>

  {{> footer}}
</body>
</html>